<section class="intro-section">
  <div class="profile-info">
    <img class="profile-pic" src="<%= asset_url('profile-pic.png') %>">
    <div class="profile-text">
      <h1>Hi, my name is Stefan.</h1>
      <h3>
        I am a web developer with a background in statistics and
        psychology. I make apps with Ruby on Rails and BackboneJS. I analyze 
        data with R and SPSS.
      </h3>
    </div>
  </div>
  
  <ul class="icon-bar clear-fix">
    <li><a href="#"><img src="<%= asset_url('linkedin.png') %>"></a></li>
    <li><a href="#"><img src="<%= asset_url('github.png') %>"></a></li>
    <li><a href="#"><img src="<%= asset_url('twitter.png') %>"></a></li>
  </ul>
</section>

<section class="about-section">
  <header class="section-header">
    <h1>About</h1>
    <hr class="heading-hr">
  </header>
  
  <main class="about-main">
    I was born and raised in Salt Lake City, UT. I earned my bachelors of 
    science in mathematics/statistics and psychology at the University of Utah. 
    I then went to New York University and received my masters in experimental 
    psychology. This past summer, I attended App Academy where I learned how to 
    make web apps with Ruby on Rails and BackboneJS.
  </main>
</section>

<section class="projects-section">
  <header class="section-header">
    <h1>Projects</h1>
    <hr class="heading-hr">
  </header>
  
  <main class="projects-main">
    <ul class="projects-list clear-fix">
      <li class="project">
        <a href="#">
          <img src="<%= asset_url('twitter-clone.png') %>">
          <div class="project-info-container">
            <div class="project-info">
              <h4>Twitter Clone</h4>
              <p>
                Allows users to post tweets; follow other users; mention other 
                users and hashtags; search for people, tweets, and hashtags; 
                and more.
              </p>
            </div>
          </div>
        </a>
      </li>
      
      <li class="project">
        <a href="#">
          <img src="<%= asset_url('twitter-clone.png') %>">
          <div class="project-info-container">
            <div class="project-info">
              <h4>Twitter Clone</h4>
              <p>
                Allows users to post tweets; follow other users; mention other 
                users and hashtags; search for people, tweets, and hashtags; 
                and more.
              </p>
            </div>
          </div>
        </a>
      </li>
      
      <li class="project">
        <a href="#">
          <img src="<%= asset_url('twitter-clone.png') %>">
          <div class="project-info-container">
            <div class="project-info">
              <h4>Twitter Clone</h4>
              <p>
                Allows users to post tweets; follow other users; mention other 
                users and hashtags; search for people, tweets, and hashtags; 
                and more.
              </p>
            </div>
          </div>
        </a>
      </li>
      
      <li class="project">
        <a href="#">
          <img src="<%= asset_url('twitter-clone.png') %>">
          <div class="project-info-container">
            <div class="project-info">
              <h4>Twitter Clone</h4>
              <p>
                Allows users to post tweets; follow other users; mention other 
                users and hashtags; search for people, tweets, and hashtags; 
                and more.
              </p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </main>
</section>

<section class="contact-section">
  <header class="section-header">
    <h1>Contact</h1>
    <hr class="heading-hr">
    <h5>Here's how you can get in touch with me.</h5>
  </header>
  
  <main class="contact-main">
    <ul class="icon-bar clear-fix">
      <li>
        <a id="email-icon" href="#">
          <img src="<%= asset_url('email.png') %>">
          <p>Email</p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="<%= asset_url('linkedin2.png') %>">
          <p>LinkedIn</p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="<%= asset_url('twitter2.png') %>">
          <p>Twitter</p>
        </a>
      </li>
    </ul>
  </main>
  
    <div class="email-modal display-off">
      <div class="content">
        <span class="exit close-modal">&times;</span>
        <div class="email-container">
          <h5>huynh.stefan@gmail.com</h5>
        </div>
      </div>
  
      <div class="modal-overlay close-modal"></div>
    </div>
</section>









