<section class="intro-section">
  <div class="intro-section-content">
    <div class="profile-info">
      <div class="profile-text">
        <h1>Hi, my name is Stefan.</h1>
        <h3>
          I am a software developer with a background in statistics and
          psychology. I work primarily with Ruby (Rails), Python (Flask), and
          JavaScript (React, Backbone).
        </h3>
      </div>
    </div>

    <ul class="icon-bar clear-fix">
      <li>
        <a href="http://linkedin.com/pub/stefan-huynh/82/513/8a3/">
          <img src="<%= asset_url('linkedin.png') %>">
        </a>
      </li>
      <li>
        <a href="http://github.com/stefvhuynh">
          <img src="<%= asset_url('github.png') %>">
        </a>
      </li>
      <li>
        <a href="http://twitter.com/stefan_huynh">
          <img src="<%= asset_url('twitter.png') %>">
        </a>
      </li>
    </ul>

    <hr class="heading-hr">
    <h3>huynh.stefan@gmail.com</h3>
  </div>
</section>

<a name="about"></a>
<section class="about-section">
  <header class="section-header">
    <h1>About</h1>
    <hr class="heading-hr">
  </header>

  <main class="about-main">
    <img class="profile-pic" src="<%= asset_url('profile-photo.jpg') %>">
    <p class="about-info">
      I was born and raised in Salt Lake City, UT. I earned my bachelors of
      science in mathematics/statistics and psychology at the University of Utah
      in 2012. I then went to New York University and received my masters in
      experimental psychology in 2014. I currently work as a software engineer,
      working with React, Rails, and Magento.
    </p>
    <br><br>
    <hr class="heading-hr"><br>
    <p>
      Check out my resume <a href="<%= asset_url('resume.pdf') %>">here</a>.
    </p>
  </main>
</section>

<a name="projects"></a>
<section class="projects-section">
  <header class="section-header">
    <h1>Projects</h1>
    <hr class="heading-hr">
  </header>
  
  <main class="projects-main">
    <ul class="projects-list clear-fix">
      
      <li class="project">
        <img src="<%= asset_url('twitter-clone.png') %>">
        <div class="project-info-container">
          <div class="project-info">
            <h4>Twitter Clone</h4>
            <p>
              A clone of Twitter. Users can post tweets; follow other 
              users; mention other users and hashtags; search for people, 
              tweets, and hashtags; and more.
            </p>
            <hr class="heading-hr">
            <a href="http://twitter-clone.stefanhuynh.com">Live site</a><br>
            <a href="http://github.com/stefvhuynh/twitter_clone">
              Github repo
            </a>
          </div>
        </div>
      </li>
      
      <li class="project">
        <img src="<%= asset_url('trello-clone.png') %>">
        <div class="project-info-container">
          <div class="project-info">
            <h4>Trello Clone</h4>
            <p>
              A clone of Trello, an organization app. Users can add boards, 
              lists, cards, checklists, and checklist items to keep track of
              projects. Every element can be reordered by dragging and dropping.
            </p>
            <hr class="heading-hr">
            <a href="http://trello-clone.stefanhuynh.com">Live site</a><br>
            <a href="http://github.com/stefvhuynh/trello_clone">
              Github repo
            </a>
          </div>
        </div>
      </li>
      
      <li class="project">
        <img src="<%= asset_url('personal-site.png') %>">
        <div class="project-info-container">
          <div class="project-info">
            <h4>This Site</h4>
            <p>
              A landing page and blog. I made a project of this site by
              writing a Rails app from scratch. I can add blog posts via a
              user interface and visitors can search through all my posts.
            </p>
            <hr class="heading-hr">
            <a href="/posts">Live site</a><br>
            <a href="http://github.com/stefvhuynh/personal_site">
              Github repo
            </a>
          </div>
        </div>
      </li>
      
      <li class="project">
        <img src="<%= asset_url('asteroids.png') %>">
        <div class="project-info-container">
          <div class="project-info">
            <h4>Asteroids</h4>
            <p>
              A pure JavaScript implementation of Asteroids using canvas. Users 
              can fly around (arrow keys) and shoot (spacebar). The asteroids 
              are randomly generated so every one is unique.
            </p>
            <hr class="heading-hr">
            <a href="http://asteroids.stefanhuynh.com">Live site</a><br>
            <a href="http://github.com/stefvhuynh/asteroids">Github repo</a>
          </div>
        </div>
      </li>
      
      <li class="project">
        <img src="<%= asset_url('snake.png') %>">
        <div class="project-info-container">
          <div class="project-info">
            <h4>Snake</h4>
            <p>
              A pure JavaScript implementation of Snake. Users can move around
              and eat apples with the arrow keys.
            </p>
            <hr class="heading-hr">
            <a href="http://snake.stefanhuynh.com">Live site</a><br>
            <a href="http://github.com/stefvhuynh/snake">Github repo</a>
          </div>
        </div>
      </li>
      
      <li class="project">
        <img src="<%= asset_url('rails-lite.png') %>">
        <div class="project-info-container">
          <div class="project-info">
            <h4>Rails Lite</h4>
            <p>
              A lite rebuild of Rails. It includes the controller base, params,
              the router, and session cookies.
            </p>
            <hr class="heading-hr">
            <a href="http://github.com/stefvhuynh/rails_lite">Github repo</a>
          </div>
        </div>
      </li>
      
      <li class="project">
        <img src="<%= asset_url('active-record-lite.png') %>">
        <div class="project-info-container">
          <div class="project-info">
            <h4>Active Record Lite</h4>
            <p>
              A lite rebuild of Active Record. It generates Ruby models from
              SQL queries and builds belongs-to, has-many, and has-many-through
              associations.
            </p>
            <hr class="heading-hr">
            <a href="http://github.com/stefvhuynh/active_record_lite">
              Github repo
            </a>
          </div>
        </div>
      </li>
      
      <li class="project">
        <img src="<%= asset_url('chess.png') %>">
        <div class="project-info-container">
          <div class="project-info">
            <h4>Chess</h4>
            <p>
              A command line implementation of Chess in Ruby. Users can
              take turns playing by specifying the start and end board
              positions.
            </p>
            <hr class="heading-hr">
            <a href="http://github.com/stefvhuynh/chess">Github repo</a>
          </div>
        </div>
      </li>
    </ul>
    
    <hr class="heading-hr"><br><br>
    <h5>See my other projects on my 
      <a href="http://github.com/stefvhuynh"> Github page</a>.
    </h5>
  </main>
</section>

<a name="contact"></a>
<section class="contact-section">
  <header class="section-header">
    <h1>Contact</h1>
    <hr class="heading-hr">
    <h5>Here's how you can get in touch with me.</h5>
  </header>
  
  <main class="contact-main">
    <ul class="icon-bar clear-fix">
      <li>
        <span id="email-icon">
          <img src="<%= asset_url('email.png') %>">
          <p>Email</p>
        </span>
      </li>
      <li>
        <a href="http://linkedin.com/pub/stefan-huynh/82/513/8a3/">
          <img src="<%= asset_url('linkedin2.png') %>">
          <p>LinkedIn</p>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/stefan_huynh">
          <img src="<%= asset_url('twitter2.png') %>">
          <p>Twitter</p>
        </a>
      </li>
    </ul>
  </main>
  
    <div class="email-modal display-off">
      <div class="content">
        <span class="exit close-modal">&times;</span>
        <div class="email-container">
          <h5>huynh.stefan@gmail.com</h5>
        </div>
      </div>
  
      <div class="modal-overlay close-modal"></div>
    </div>
</section>









