<section class="search-section">
  <header class="section-header">
    <h2>Results for:</h2>
    <hr class="heading-hr">
    <h4><%= @query %></h4>
  </header>
  
  <ul class="posts-list">
    <% @posts.each do |post| %>
      <li class="post-preview">
        <a href='<%= post_url(post) %>'><h2><%= post.title %></h2></a>
        <br>
        <small><%= post.created_at.to_formatted_s(:long_ordinal) %></small>
        <p><%= post.preview %></p>
      </li>
    <% end %>
  </ul>
  
  <%= paginate @posts, inner_window: 1 %>
</section>