<section class="show-post-section">
  <header class="section-header">
    <h1><%= @post.title %></h1>
    <hr class="heading-hr">
    <p><%= @post.created_at.to_formatted_s(:long_ordinal) %></p>
  </header>

  <main class="show-post-main">
    <p><%= @post.display %></p>
    <br>
    <% if signed_in? %>
      <a href="<%= edit_post_url(@post) %>">Edit</a>
    <% end %>
    <a href="<%= posts_url %>">&laquo; All Posts</a>
  </main>
</section>